.report-modal {
  display: grid;
  grid-template-areas:
    ". . ."
    ". c ."
    ". . .";
  grid-auto-columns: 20% 60% 20%;
  grid-template-rows: 20% 50% 30%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.report-modal-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 70%;
  background-color: var(--secondary-button-text-color);
  z-index: -1000;
}

.report-modal-inner-wrapper {
  padding: 15px;
  background-color: white;
  position: relative;
  height: 100%;
  grid-area: c;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.report-modal-title-bar {
  font-size: 1.5rem;
  color: var(--title-bar-text-color);
  background-color: var(--title-bar-color);
  width: calc(100% - 5px);
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.report-modal-alt-text-wrapper {
  padding: 3px;
  margin: 3px;
  background-color: var(--zebra-dark-bg-color);
}

.report-modal-alt-text {
  padding: 3px;
  font-size: 1.4rem;
}

.report-modal-hr {
  width: 90%;
  color: var(--title-bar-color);
}

.report-modal-text-label {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.report-modal-reason-wrapper {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.report-modal-reason {
  width: calc(100% - 14px);
  font-size: 1.5rem;
}

.report-modal-controls {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .report-modal {
    grid-auto-columns: 0% 100% 0%;
    grid-template-rows: 10% 80% 10%;
  }
  .report-modal-inner-wrapper {
    margin-left: 8px;
    margin-right: 8px;
  }
}
