.searching-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50% auto auto;
}

.searching-anim {
    margin: auto auto;
    max-width: 350px;
    width: 30vw;
    height: auto;
}

.searching-text {
    font-family: lexendbold, serif;
    font-size: 3rem;
    text-align: center;
}