$green: #2e4d4a;
$blue: #3581b8;
$orange: #fcb07e;
$pale-green: #f3f8f2;
$red: #c5283d;

$brand-color: $green;
$accent-color-1: $blue;
$accent-color-2: $orange;
$light-bg: $pale-green;
$error-color: $red;

//   --primary-button-color: #5a3732;
//   --primary-button-disabled-color: #ba9592;
//   --primary-button-hover-color: #3a1712;
//   --primary-button-text-color: white;
//   --primary-button-shadow-color: #333333;
//   --secondary-button-text-color: #7a5752;
//   --accent-color: #9d736c;
//   --disabled-grey: #aaaaaa;
//   --zebra-dark-bg-color: rgba(220, 190, 135, 0.4);
//   --zebra-light-bg-color: white;
//   --misc-grey-color: #555555;
