@font-face {
    font-family: 'lexendbold';
    src: url('../fonts/lexend-bold-webfont.woff2') format('woff2'),
    url('../fonts/lexend-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lexendmedium';
    src: url('../fonts/lexend-medium-webfont.woff2') format('woff2'),
    url('../fonts/lexend-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-body-bg-color: white;
    --main-body-text-color: black;
    --title-bar-color: #2E4D4A;
    --title-bar-text-color: white;
    --footer-bg-color: white;
    --footer-text-color: black;
    --primary-button-color: #5A3732;
    --primary-button-disabled-color: #BA9592;
    --primary-button-hover-color: #3A1712;
    --primary-button-text-color: white;
    --primary-button-shadow-color: #333333;
    --secondary-button-text-color: #7A5752;
    --accent-color: #9D736C;
    --disabled-grey: #AAAAAA;
    --zebra-dark-bg-color: rgba(220, 190, 135, 0.4);
    --zebra-light-bg-color: white;
    --misc-grey-color: #555555
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-body-bg-color);
    overflow: scroll;
}

#root {
    height: 100%;
}

.page-wrapper {
    height: 100%;
    width: 100%;
}

a, a:visited {
    text-decoration: none;
}

.std-button {
    background-color: var(--primary-button-color);
    box-shadow: var(--primary-button-shadow-color);
    color: var(--primary-button-text-color);
    padding: .2em .4em;
    border-radius: .2em;
    font-size: 2rem;
    font-family: "montserratsemibold", sans-serif;
}

.big-button {
    background-color: var(--primary-button-color);
    box-shadow: var(--primary-button-shadow-color);
    color: var(--primary-button-text-color);
    padding: .6em 1.2em;
    border-radius: .2em;
    margin: 15px 0;
    font-size: 4rem;
    font-family: "montserratsemibold", sans-serif;
}

.std-button:disabled {
    background-color: var(--primary-button-disabled-color);
}

.header-wrapper {
    position: fixed;
    top: 0;
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
    background-color: var(--title-bar-color);
    box-shadow: 0 3px 2px var(--accent-color);
}

.site-title {
    font-family: "lexendbold", serif;
    font-size: 6vh;
    margin: 0px;
    color: var(--title-bar-text-color);
}
.header-sign-up-button {
    height: 75px;
}
.header-s1, .header-s2{
    margin: 8px 16px;
    display: flex;
    align-items: flex-end;
}


.content {
    margin-right: auto;
    margin-left: auto; 
    width: 100%;
    max-width: 100%;
    padding: 120px 0px 0px 0px;
    font-family: "montserratregular", sans-serif;
    display: flex;
    justify-content: center;
  }
 .content-wrapper{
    overflow: scroll;
 }


.footer-wrapper {
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    padding-top: 1px;
    background-color: var(--footer-bg-color);
    box-shadow: 0 -3px 2px var(--accent-color);
}

.footer-link {
    vertical-align: top;
    font-family: "lexendmedium", serif;
    font-size: 3vh;
    height: 3vh;
    padding-right: 0.5vw;
    color: var(--footer-text-color);
}

.footer-link:hover {
    opacity: 0.7;
}
@media screen and (max-width: 576px) {
    .site-title{
        font-size: 2em;
    }
    .std-button{
        font-size: 1.5em;
    }
    .header-s1, .header-s2{
        margin: 0px 0px 8px 0px;
    }
    .content-wrapper {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .header-wrapper{
        flex-direction: column;
    }
    .header-s1, .header-s2{
        display:flex;
        justify-content: center;
    }
}
@media (min-width: 576px) {
    .content{ 
      width: 560px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .content-wrapper {
        margin-top: 90px;
    }
  }

  @media (min-width: 768px) {
    .content{
      width: 750px;
    }
    .content-wrapper {
        margin-top: 0px;
    }
  }
  
  @media (min-width: 992px) {
    .content{
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .content{
      width: 1170px;
    }
  }