.search-box-wrapper {
    display: block;
    margin: 10% auto;
    width: 80%;
    height: 50%;
    font-family: "lexendmedium", serif;
}

.search-title {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 15px;
}

.search-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "option1 option2"
        "main main";
    gap: 0;
}

.search-option-title {
    text-align: center;
    font-size: large;
    height: 50px;
    padding-top: 20px;
}

.search-option-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.on-computer-search-title {
    grid-area: option1;
    border-right: 3px black solid;
    border-top: 3px black solid;
    border-left: 3px black solid;
    margin-right: -3px;
    z-index: 501;
}

.on-the-web-search-title {
    grid-area: option2;
    color: var(--misc-grey-color);
    border-top: 3px var(--misc-grey-color) solid;
    border-right: 3px var(--misc-grey-color) solid;
    border-bottom: 3px black solid;
    z-index: 500;
}

.inner-search-box {
    grid-area: main;
    height: 200px;
    margin-top: -3px;
    border-right: 3px black solid;
    border-left: 3px black solid;
    border-bottom: 3px black solid;
}

.search-input-wrapper {
    width: 70%;
    margin: 60px auto 10px auto;
    padding: 10px 10px;
    border: 1px black solid;
    border-radius: 6px;
    height: 35px;
    -moz-box-shadow: inset 0 0 3px black;
    -webkit-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 0 3px black;
}

#file-search-label {
    display: inline-block;
    color: var(--button-text-color);
    background-color: var(--button-color);
    font-family: "lexendmedium", serif;
    font-size: medium;
    border-radius: 10px;
    border: var(--button-color) 5px solid;
    box-shadow: 3px 3px 2px var(--button-shadow-color);
}

#file-search-label:hover {
    cursor: pointer;
    opacity: 0.7;
}

#chosen-file {
    display: inline-block;
    margin-left: 5px;
    font-family: "montserratsemibold", sans-serif;
}

#url-search-input {
    display: none;
    border: hidden;
    font-size: medium;
    padding: 10px;
    overflow: scroll;
    width: 95%;
}

.search-button-wrapper {
    margin-right: 15%;
}

.search-button {
    float: right;
    font-size: x-large;
    cursor: pointer;
}

.search-button.button-enabled {
    opacity: 1.0;
}

.search-button:hover.button-enabled {
    opacity: 0.7;
}

.search-button.button-disabled {
    opacity: 0.4;
}

.search-button:hover.button-disabled {
    opacity: 0.4;
}

#language-select {
    float: right;
    font-size: x-large;
    font-family: "montserratregular", sans-serif;
    width: 30%;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px black solid;
    -moz-box-shadow: 1px 1px 2px black;
    -webkit-box-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
}

.is-text-wrapper {
    display: none;
    align-items: center;
    float: left;
    margin-left: 20%;
    vertical-align: middle;
}

#is-text {
    width: 20px;
    height: 20px;
}

.back-to-search-button {
    font-size: xx-large;
}

.post-search-select {
    display: none;
    height: 100%;
    width: 100%;
    gap: 0;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "iimg rright rright"
                         "iimg rright rright"
                         "iimg rright rright";
}

.composer-image-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    grid-area: iimg;
    width: 100%;
    height: 100%;
}

#image-canvas {
    object-fit: contain;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

.search-another-image-wrapper {
    text-align: center;
    margin: 15px auto;
}

.post-search-right-side {
    grid-area: rright;
    width: 100%;
    height: 100%;
    border-left: 3px var(--misc-grey-color) solid;
}

.loading-anim-wrapper {
    text-align: center;
    display: none;
}

.loading-anim {
    margin: 20% auto 15px auto;
    display: block;
    width: 10%;
    height: 10%;
}

.loading-text {
    margin: 0 auto;
    font-size: xx-large;
    font-family: "lexendmedium", serif;
}

.error-box {
    display: none;
    text-align: center;
    margin: 15% auto;
    width: 60%;
    height: 30%;
}

.error-message {
    text-align: center;
    color: var(--main-body-text-color);
    font-family: "lexendbold", serif;
    font-size: xx-large;
    margin-bottom: 25px;
}

.right-side {
    display: none;
    width: 100%;
    height: 100%;
}

.not-found {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin: 0 auto;
}

.not-found-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
}

.not-found-message {
    font-family: "lexendbold", serif;
    font-size: xx-large;
}

.not-found-controls {
    margin-top: 15px;
}

.favorite-and-owned {

}

.search-results {

}

.result-titles {

}

.result-title {

}

.result-wrapper {

}

.result-page {

}

.composer-wrapper {

}

#composer-textarea {

}

.composer-controls {

}

.public-check-wrapper {

}

.composer-char-counter {

}

.published-wrapper {

}

.published-title {

}

.published-text-wrapper {

}

.published-edit-button {
    float: left;
}

.published-copy-button {
    float: right;
}

.copied-modal {
    display: none;
    padding: 5px;
    box-shadow: 3px 3px 2px var(--button-shadow-color);
}

.report-modal {
    display: none;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 50%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 3px 3px 2px var(--button-shadow-color);
}

.modal-title {
    font-family: "lexendbold", serif;
    font-size: xx-large;
}

.text-to-be-reported {
    margin: 0 auto;
    background-color: var(--zebra-dark-bg-color);
}

.report-wrapper {
    margin: 0 auto;
}

#report-input {
    margin: 0 auto;
    font-family: "montserratregular", sans-serif;
    font-size: medium;
}

.report-button-wrapper {

}

.submit-report-button {
    float: right;
    margin-top: 5px;
}

.alt-text-text {
    justify-content: left;
    font-size: medium;
    font-family: "montserratregular", sans-serif;
}

.alt-text-bg-zebra-dark {
    background-color: var(--zebra-dark-bg-color);
}

.alt-text-bg-zebra-light {
    background-color: var(--zebra-light-bg-color);
}

.alt-text-controls {

}

.alt-text-control {
    color: var(--misc-grey-color);
}

.alt-text-left-control {
    float: left;
    margin: 3px 0 3px 10px;
}

.alt-text-report-control {
    float: right;
    margin: 3px 0;
}
