.page-not-found-message {
    font-family: "lexendbold", serif;
    font-size: 4rem;
    text-align: center;
}

.page-not-found-submessage {
    font-family: "montserratregular", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 3vh 0 6vh;
}

.page-not-found-controls {
    margin: 0 auto;
    text-align: center;
}