.searching-wrapper {
    margin: 0 auto;
}

.searching-anim {
    margin: 0 auto;
    max-width: 600px;
    width: 30vw;
    height: auto;
}

.searching-text {
    font-family: lexendbold, serif;
    font-size: 3rem;
    text-align: center;
}