.search-intro {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-family: "montserratsemibold", sans-serif;
  color: var(--title-bar-color);
  padding-bottom: 3vh;
}

.search-title {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-family: "montserratsemibold", sans-serif;
  color: var(--title-bar-color);
}

.file-search-s2 {
  display: flex;
  justify-content: flex-end;
  width: 120px;
  margin-top: 8px;
}
.url-search-s2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 8px;
}

#url-select {
  margin: 0 auto;
  font-family: "montserratregular", sans-serif;
  font-size: 1rem;
  width: calc(100% - 8px);
}

.url-search-label {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "montserratsemibold", sans-serif;
  color: var(--title-bar-color);
}

#file-select {
  margin: auto;
  width: 100%;
  font-family: "montserratregular", sans-serif;
  font-size: 1.5rem;
}

.file-search-wrapper {
  display: flex;
  justify-content: space-between;
}

input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: var(--primary-button-color);
  color: var(--primary-button-text-color);
  font-family: "montserratsemibold", sans-serif;
  font-size: 2rem;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--primary-button-hover-color);
  border: 2px solid #00cec9;
}

.css-19kzrtu {
  padding: 24px 0px !important;
}

@media screen and (max-width: 576px) {
  .search-intro,
  .search-title {
    font-size: 2rem;
  }
  .search-tab.css-1c495cy {
    font-size: 1.5rem;
  }
  .file-search-wrapper {
    flex-direction: column;
  }
  .search-box-wrapper {
    margin: 0px 8px;
  }
  .file-search-s2 {
    width: 100%;
  }
  input[type="file"]::file-selector-button {
    font-size: 1.5rem;
  }
}
